<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    注册UserDaoImpl的bean-->
    <bean id="UserDaoimpl" class="org.example.dao.impl.UserDaoImpl"></bean>
    <bean id="UserServiceImpl" class="org.example.service.impl.UserServiceImpl">
        <property name="userDao" ref="UserDaoimpl"></property>
    </bean>
</beans>